.container {
        width: 100vw;
        background-color: rgb(255, 255, 255);
        position: relative;
}

.search {
        display: flex;
        justify-content: center;
        align-items: baseline ;
        width: 60%;
        margin: 5px auto;
        border-top: gray solid 1px;
        border-bottom: gray solid 1px;

} 

.navi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1vh auto;
}
footer {
        margin: .5vw auto 0 auto;
        font-family: 'Lato', sans-serif;
        border-top: gray solid 1px;
        width: 80%;
        text-align: center;
        padding-top: 3px;
}

@media (max-width: 990px) {
.search {
        width: 80%;
}
}
@media (max-width: 875px) {
        .search {
               flex-direction: column; 

        }
        }