.div-left {
    margin: 10px auto 0 auto;
    width: 50%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-family: 'Architects Daughter', cursive;
    padding: 0;
}
.adress {
    font-size: 1rem;
    text-shadow: 0 0 0 white;
  }
.icon {
    height: 18px;
    float: left;
    margin-right: 2px;
}
@media (max-width: 700px) {
    .adress {
            font-size: 12px;
            margin-left: 2px;
    }
    .icon {
        height: 15px;
    }
    /* .nr-phone {
        font-size: .5em;
    } */
    .div-left {
        margin: 0 auto;
    }
}
@media (max-width: 700px) {
    .div-left {
        flex-direction: column;
        border: hotpink 1px solid;
    }
    .nr-phone {
        justify-self: center;
        border: rgb(44, 31, 226) 1px solid;
    }
    .adress {
        justify-self: center;
        border: rgb(47, 226, 31) 1px solid;
    }
}